*,::before,::after{
    box-sizing: border-box ;
    margin: 0px;
    padding: 0px;
}
#page{
    width: 780px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
#infoPhoto{
    height: 250px;
}
#info{
    float: left;
    margin-left: 30px;
    font-size: 18px;
}
#photo{
    float: right;
    border: dashed;
    border-radius: 50px;
    border-color: white;
    border-width: 5px;
    
    
}
.section{
    margin-bottom: 70px;
    text-align: justify;

}
.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.sec-droite{
    margin-left: 200px;
}
h2{
    font-size: 28px;
    color: #ffffffd8;
    border-bottom: 3px solid   #ffffffd8;
}
.whatis{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}
.titre{
    font-weight: bold;
    font-size: 20px;
}
body{
    background-color: black;
    background-image: url(https://thumbs.gfycat.com/HatefulSeveralIbis-max-1mb.gif);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 0%;
    position: relative;
}
a::after{
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: white;
    transition: width 0.3s ease-out;
}
a:hover::after{
    width: 100%;
}
#btn{
    color: white;
    background-image: url(https://thumbs.gfycat.com/HatefulSeveralIbis-max-1mb.gif);
    padding: 15px;
    font-size: 30px;
    margin-left: 130px;
    border: dashed 4px;
    border-radius: 10px;
    border-top: none;
}
.st1{
    font-size: 20px;
}